:root {
  --white-color: #fbfbfb;
  --black-color: #191a15;
  --orange-color: #fc832c;
  --white-orange-color: rgba(252, 131, 44, 0.2);
}
@import url(./components/Filter/Filter.css);

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
}

body {
  /* overflow: hidden; */
  background-size: auto 100%;
  background-color: #f3f3f3;
  background-position: right bottom;
  background-repeat: no-repeat;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1440 - 320)));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--black-color);
  width: 100%;
  margin: 0;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 18px;
  }
}

.container {
  max-width: 1224px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

.add-background {
  background-image: url('./assets/ellipse.png');
  background-color: var(--white-color);
}

.add-overflov {
  overflow: hidden;
}

/* .css-aompdj-container {
  width: 100% !important;
} */
